*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    color: blanchedalmond;
}

.content{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 40vw;
    height: 50vh;
}

.main, .display{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    position: absolute;
    gap: 1px;

}

.main.inactive{
    display: none;
}



.display{
    display: none;
}

.display.active{
    display: grid;
}

.main input , .display input{
    height: 100%;
    width: 100%;
    background-color: rgb(114, 91, 91);
    text-align: center;
    font-size: 20px;
}

input:focus{
    border: 0px;
    outline: 1px solid blue;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.buttons
{
    display: flex;
    height: 5vh;
    width: 40vw;
    justify-content: space-between;
}

.button {
    position: relative;
    height: 40px;
    width: 150px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(to right, orange, red);
    color: white;
}

.button:hover {
    background-image: linear-gradient(to right, #DC143C, #DC143C);
    color: yellowgreen;
    cursor: pointer;
    transform: scale(1.1); 
}


